<!-- <p>reactive-form works!</p> -->
<h1>Reactive Form</h1>

<form [formGroup]="updateForm" (ngSubmit) = "updateDevice()">
    <input type="hidden" formControlName = "id" id = "id">
    <label for="name">Device Name: </label>
    <input formControlName = "name" type="text" id = "name">
    <br>
    <br>
    <label for="brand">Brand: </label>
    <input formControlName = "brand" type="text" id = "brand">
    <br>
    <br>
    <label for="model">Model: </label>
    <input formControlName = "model" type="text" id = "model">
    <br>
    <br>
    <label for="year">Year: </label>
    <input formControlName = "year" type="text" id = "year">
    <br>
    <br>
    <label for="serial">Serial: </label>
    <input formControlName = "serial" type="text" id = "serial">
    <br>
    <br>

    <button type="submit" (click) = "updateDevice()">Submit</button>
</form>


